!!!5
html
  head
    title Kate Ray
    != css('application')
  body.blog
    h1 On Oliver Sacks’ Death and Joining Experiment.com
    em September 23, 2015
    br
    br
    .content
      p I have a kind of morbid list called Death Guides, that includes all of the old wise people who make me okay with the fact that I will eventually die. The list has people like Joan Didion, <a target="_blank" href="http://www.npr.org/2011/12/29/144077273/maurice-sendak-on-life-death-and-childrens-lit">Maurice Sendak</a>, and <a target="_blank" href="http://www.nytimes.com/2015/08/16/opinion/sunday/oliver-sacks-sabbath.html?_r=0">Oliver Sacks</a>. The latter two went out the way I someday hope to: sad to leave a world that they loved so much, but also okay, accepting. They had drunk their fill.

      p Oliver Sacks was a lovely badass. As a young man he was a champion weightlifter and drove a motorcycle and regularly took heavy, controlled doses of drugs to study their effects on his mind. He had a brilliant career as a neurologist, and wrote some of the most fascinating and compassionate books about music, sight, neurological disorders, and hallucinations. After he became sick last February and found himself slipping in and out of delirium, he tried to medically document the way his brain was changing by writing in his journal for the duration of one of the episodes, because it would <a target="_blank" href="http://www.radiolab.org/story/remembering-oliver-sacks/">“provide a lovely illustration to put in a timeline of delirium.”</a> The man’s curiosity was irrepressible. He wanted to peer into everything, even his own mind as it died.

      p Curiosity, I’ve thought before, is the most important drive on our planet. It is the opposite of Entertainment. The tasks that go into satisfying it are brutally tedious - making hundreds of X-rays of strands of DNA, staring out a homemade telescope almost every night for 60 years - but the overall effect is deeply fulfilling. Curiosity requires an open mind, an assumption of ignorance. It is Zen but not <a target="_blank" href="https://medium.com/matter/against-chill-930dfb60a577">Chill</a>. Curiosity will save us from self-destruction when the robots take our jobs. It will get us to Mars.
      
      img(src= "images/kt.jpg")
      .caption Me at the <a target="_blank" href="https://en.wikipedia.org/wiki/Cretaceous%E2%80%93Paleogene_boundary">K.T. boundary</a>, which is the geological marker of the dinosaur extinction 66 million years ago.
      
      p This summer I went on a dinosaur dig in Wyoming with some friends who built a platform for crowdfunding science, <a target="_blank" href="https://experiment.com/">Experiment.com</a>. We were visiting one of their <a target="_blank" href="https://experiment.com/projects/help-us-excavate-a-dinosaur-bonebed-in-wyoming-s-bighorn-basin">successful projects</a>, a campaign that helped fund excavation at the Bighorn Basin. We found a Triceratops. It was a lot cooler than Burning Man.

      p The two scientists running things, Jason Schein and Jason Poole, wore Jurassic Park T-shirts and were the kind of guys you’d want to drink wine with on the porch late into the night, because they could help you identify Andromeda. They were passionate about their work and glowing about Experiment. These were the people that Cindy and Denny and the rest of the team were working for every day when they fixed bugs and spent hours on the phone coaching through the process of crowdfunding.

      p So many tech people love science, but the success of the tech industry hasn't quite found its way back into science. I'd always loved it, but as I grew up and left school, it got further away from my life. Being around the paleontologists and geologists at camp got me excited in a way I hadn't in years. The curiosity that drove them to walk back and forth across the canyon all summer, scouring every inch of the dirt - that was infectious. I thought more people could feel that as well if they were connected to the scientists’ research process. And most of all, I wanted more people like the Jasons and other scientists we met to be out there in the world, doing the dusty, exacting work that helps all of us know it better.

      p I’m joining Experiment on October 1st as an engineer and product manager. I’m looking to meet as many curious scientists, hobbyists, and fans as possible, and figure out how we can get cool science funded and shared. Ping me <a target="_blank" href="https://twitter.com/kraykray">@kraykray</a> or <a href="mailto:kate@experiment.com">kate@experiment.com</a>.
      
      em -K.R.
