!!!5
html
  head
    <meta charset="utf-8">
    title Kate Ray
    != css('application')
    link(rel="apple-touch-icon-precomposed", sizes="57x57",href="images/favicon-apple-touch-114.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="images/favicon-apple-touch-114.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="images/favicon-apple-touch-144.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="images/favicon-apple-touch-144.png")
    link(rel="icon", type="image/vnd.microsoft.icon", sizes="32x32 48x48", href="images/favicon.ico")
    link(rel="icon", sizes="128x128", href="images/favicon.icns")
    link(rel="icon", href="images/favicon.png", type="image/x-icon")
  body.home
    #vis
    #key
      .category(data="project") projects
      .category(data="essay") essays
      .category(data="press") press
      a(href="/resume.pdf", target="_blank") resume
      br
      br
      a(href="http://twitter.com/kraykray", id="contact-twitter", target="_blank")
      a(href="http://steal.kateray.net", id="contact-wordpress", target="_blank")
      a(href="http://github.com/kateray", id="contact-github", target="_blank")
      a(href="mailto:kate@kateray.net", id="contact-mail")
    #explanation

    a(href="http://github.com/kateray/kateray", id="github-link", target="_blank") source code on github
    != js('lib/jquery')
    != js('lib/underscore')
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    != js('app')
