!!!5
html
  head
    title Kate Ray
    != css('application')
  body
    #vis
    #key
      .category(data="project") projects
      .category(data="essay") essays
      .category(data="idea") ideas
      .category(data="url") links
      .category(data="book") books
      br
      br
      a(href="http://twitter.com/kraykray", id="contact-twitter", target="_blank")
      a(href="http://steal.kateray.net", id="contact-wordpress", target="_blank")
      a(href="http://github.com/kateray", id="contact-github", target="_blank")
      a(href="mailto:email@kateray.net", id="contact-mail")
    #explanation

    a(href="http://github.com/kateray/kateray", id="github-link", target="_blank") source code on github
    != js('lib/jquery')
    != js('lib/underscore')
    != js('lib/d3')
    != js('app')