!!!5
html
  head
    title Kate Ray
    != css('application')
  body
    #vis
    #key
      .category(data="project") projects
      .category(data="essay") essays
      .category(data="idea") ideas
      .category(data="url") links
      .category(data="book") books

    a(href="http://github.com/kateray/kateray", id="github-link", target="_blank") source code on github
    != js('lib/jquery')
    != js('lib/underscore')
    != js('http://d3js.org/d3.v3.min.js')
    != js('app')