body.home {
  background: -webkit-radial-gradient(#dad3e0,#9d94a6);
  font: 10px sans-serif;
  margin: 0px;
}

body.blog {
  font: 15px sans-serif;
  line-height: 1.5;
  margin: 50px 150px;
  max-width: 500px;
}

@media only screen and (max-device-width: 736px)  {
  body.blog {
    font: 2em sans-serif;
    margin: 5% 10%;
    max-width: 100%;
  }
}

body.blog a {
  text-decoration: none;
  color: #5C005C;
}

body.blog a:hover {
  text-decoration: underline;
}

#github-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#key {
  position: fixed;
  font-size: 16px;
  top: 20px;
  left: 20px;
}

#explanation {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #000000;
  opacity: 0;
  width: 175px;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  line-height: 1.6;
  display: none;
  transition: opacity .5s linear;
}

.category {
  padding: 5px;
}
/*.category[data="project"] {
  background: #AA9BB3;

}
.category[data="essay"] {
  background: #B1A2BA;

}
.category[data="idea"] {
  background: #B9A9C2;
}
.category[data="url"] {
  background: #C0AFC9;
}
.category[data="book"] {
  background: #C7B6D1;
}*/
/*a:hover {
  text-decoration: underline;
}*/

#key a {
  width: 25px;
  height: 25px;
  display: block;
  background-position:center center;
  background-repeat:no-repeat;
  padding: 5px 5px;
}

#contact-twitter {
  background-image: url("/images/twitter.png");
}

#contact-wordpress {
  background-image: url("/images/wordpress.png");
}

#contact-github {
  background-image: url("/images/github.png");
}

#contact-mail {
  background-image: url("/images/mail.png");
}

.year {
  float: right;
  font-style: italic;
}

.category {
  cursor: pointer;
}

.node {
  background-color: #e2e2e2;
  font-size: 10px;
  transition: opacity .1s linear;
}

.link {
  stroke: #000;
}

.node.center {
  z-index: 5;
  font-size: 50px;
}
.node.project {
  z-index: 4;
  font-size: 30px;
}


.node.essay {
  font-size: 15px;
}

.node.idea {
  font-style: italic;
  font-size: 14px;
  width: 50px;
}

.node.subject {
  font-size: 16px;
  color: #c1c1c1;
  text-transform: uppercase;
  font-weight: bold;
}
