body {
  background: -webkit-radial-gradient(#dad3e0,#9d94a6);
  font: 10px sans-serif;
  margin: 0px;
}

#github-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#key {
  position: fixed;
  font-size: 16px;
  top: 20px;
  left: 20px;
}

#explanation {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #000000;
  opacity: 0;
  width: 175px;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  line-height: 1.6;
  display: none;
  transition: opacity .5s linear;
}

#contact {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

#key a {
  width: 25px;
  height: 25px;
  display: block;
  background-position:center center;
  background-repeat:no-repeat;
  padding: 3px 5px;
}

#contact-twitter {
  background-image: url("/images/twitter.png");
}

#contact-github {
  background-image: url("/images/github.png");
}

#contact-mail {
  background-image: url("/images/mail.png");
}

.year {
  float: right;
  font-style: italic;
}

.category {
  cursor: pointer;
}

.node {
  background-color: #e2e2e2;
  font-size: 10px;
  transition: opacity .1s linear;
}

.link {
  stroke: #000;
}

.node.center {
  z-index: 5;
  font-size: 50px;
}
.node.project {
  z-index: 4;
  font-size: 30px;
}


.node.essay {
  font-size: 15px;
}

.node.idea {
  font-style: italic;
  font-size: 14px;
  width: 50px;
}

.node.subject {
  font-size: 16px;
  color: #c1c1c1;
  text-transform: uppercase;
  font-weight: bold;
}