body {
  background: #cacaca;
  font: 10px sans-serif;
  margin: 0px;
}

#github-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#key {
  position: fixed;
  font-size: 20px;
  top: 20px;
  right: 20px;
}

.category {
  cursor: pointer;
}

.node {
  background-color: #e2e2e2;
  font-size: 10px;
}

.link {
  stroke: #000;
}

.node.center {
  z-index: 5;
  font-size: 50px;
}
.node.project {
  z-index: 4;
  font-size: 30px;
}


.node.essay {
  font-size: 15px;
}

.node.idea {
  font-style: italic;
  font-size: 14px;
  width: 50px;
}

.node.subject {
  font-size: 16px;
  color: #c1c1c1;
  text-transform: uppercase;
  font-weight: bold;
}